body{
  background-image: url(./img/bg.jpg);
  position: absolute;
  background-repeat: no-repeat;
  

}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  fontsize: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.text{
  text-align: center;
}

.main {
  padding: 150px;
  margin-left: 50px;
  

}

h3{
  color: white;
}
h1{
  color: white;
  text-align: center;
}
.text-muted{
  color: white;
  font-weight: bold;
  padding: 10px;
}
.chart{
  text-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 900px) {
  .main{
    margin-left: 0;
    margin-top: 10%;
    padding: 30px;
  }

}